* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============= BODY & BACKGROUND ============= */
body {
    font-family: 'Courier New', monospace;
    min-height: 100vh;
    background-color: #7DB847;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="160" height="80" viewBox="0 0 160 80"><rect fill="%237DB847" width="160" height="80"/><g><rect fill="%2368A336" x="0" y="0" width="4" height="8"/><rect fill="%2368A336" x="4" y="4" width="4" height="8"/><rect fill="%2368A336" x="8" y="0" width="4" height="12"/><rect fill="%2368A336" x="12" y="4" width="4" height="8"/><rect fill="%2389C658" x="16" y="8" width="4" height="8"/><rect fill="%2389C658" x="20" y="4" width="4" height="12"/><rect fill="%2389C658" x="24" y="8" width="4" height="8"/><rect fill="%2368A336" x="28" y="0" width="4" height="12"/><rect fill="%2368A336" x="32" y="4" width="4" height="8"/><rect fill="%2389C658" x="36" y="8" width="4" height="8"/><rect fill="%2389C658" x="40" y="4" width="4" height="12"/><rect fill="%2368A336" x="44" y="0" width="4" height="8"/><rect fill="%2389C658" x="48" y="8" width="4" height="8"/><rect fill="%2368A336" x="52" y="4" width="4" height="12"/><rect fill="%2368A336" x="56" y="0" width="4" height="8"/><rect fill="%2389C658" x="60" y="8" width="4" height="8"/><rect fill="%2389C658" x="64" y="4" width="4" height="12"/><rect fill="%2368A336" x="68" y="0" width="4" height="12"/><rect fill="%2389C658" x="72" y="8" width="4" height="8"/><rect fill="%2368A336" x="76" y="4" width="4" height="8"/><rect fill="%2389C658" x="0" y="20" width="4" height="8"/><rect fill="%2368A336" x="4" y="16" width="4" height="12"/><rect fill="%2389C658" x="8" y="24" width="4" height="8"/><rect fill="%2368A336" x="12" y="20" width="4" height="8"/><rect fill="%2368A336" x="16" y="16" width="4" height="12"/><rect fill="%2389C658" x="20" y="24" width="4" height="8"/><rect fill="%2368A336" x="28" y="16" width="4" height="12"/><rect fill="%2389C658" x="32" y="24" width="4" height="8"/><rect fill="%2389C658" x="36" y="20" width="4" height="8"/><rect fill="%2368A336" x="40" y="16" width="4" height="12"/><rect fill="%2389C658" x="48" y="24" width="4" height="8"/><rect fill="%2368A336" x="52" y="20" width="4" height="8"/><rect fill="%2389C658" x="56" y="16" width="4" height="12"/><rect fill="%2368A336" x="64" y="16" width="4" height="12"/><rect fill="%2389C658" x="68" y="24" width="4" height="8"/><rect fill="%2368A336" x="72" y="20" width="4" height="8"/><rect fill="%2389C658" x="76" y="24" width="4" height="8"/><rect fill="%23FFFFFF" x="16" y="8" width="4" height="4"/><rect fill="%23FFFFFF" x="20" y="4" width="4" height="4"/><rect fill="%23FFFFFF" x="24" y="8" width="4" height="4"/><rect fill="%23FFFFFF" x="20" y="12" width="4" height="4"/><rect fill="%23FFE863" x="20" y="8" width="4" height="4"/><rect fill="%23FFE863" x="72" y="8" width="4" height="4"/><rect fill="%23FFE863" x="76" y="12" width="4" height="4"/><rect fill="%23FFE863" x="68" y="12" width="4" height="4"/><rect fill="%23FFE863" x="72" y="16" width="4" height="4"/><rect fill="%23E89BB5" x="132" y="20" width="4" height="4"/><rect fill="%23E89BB5" x="136" y="24" width="4" height="4"/><rect fill="%23E89BB5" x="128" y="24" width="4" height="4"/><rect fill="%23E89BB5" x="132" y="28" width="4" height="4"/><rect fill="%23FFFFFF" x="100" y="20" width="4" height="4"/><rect fill="%23FFFFFF" x="96" y="24" width="4" height="4"/><rect fill="%23FFFFFF" x="104" y="24" width="4" height="4"/><rect fill="%23FFFFFF" x="100" y="28" width="4" height="4"/><rect fill="%23FFE863" x="100" y="24" width="4" height="4"/><rect fill="%23FFE863" x="44" y="20" width="4" height="4"/><rect fill="%23FFE863" x="40" y="24" width="4" height="4"/><rect fill="%23FFE863" x="48" y="24" width="4" height="4"/><rect fill="%23FFE863" x="44" y="28" width="4" height="4"/><rect fill="%2368A336" x="0" y="40" width="4" height="8"/><rect fill="%2368A336" x="4" y="36" width="4" height="8"/><rect fill="%2368A336" x="8" y="32" width="4" height="12"/><rect fill="%2368A336" x="12" y="36" width="4" height="8"/><rect fill="%2389C658" x="16" y="40" width="4" height="8"/><rect fill="%2389C658" x="20" y="36" width="4" height="12"/><rect fill="%2389C658" x="24" y="40" width="4" height="8"/><rect fill="%2368A336" x="28" y="32" width="4" height="12"/><rect fill="%2368A336" x="32" y="36" width="4" height="8"/><rect fill="%2389C658" x="36" y="40" width="4" height="8"/><rect fill="%2389C658" x="40" y="36" width="4" height="12"/><rect fill="%2368A336" x="44" y="32" width="4" height="8"/><rect fill="%2389C658" x="48" y="40" width="4" height="8"/><rect fill="%2368A336" x="52" y="36" width="4" height="12"/><rect fill="%2368A336" x="56" y="32" width="4" height="8"/><rect fill="%2389C658" x="60" y="40" width="4" height="8"/><rect fill="%2389C658" x="64" y="36" width="4" height="12"/><rect fill="%2368A336" x="68" y="32" width="4" height="12"/><rect fill="%2389C658" x="72" y="40" width="4" height="8"/><rect fill="%2368A336" x="76" y="36" width="4" height="8"/><rect fill="%2389C658" x="0" y="52" width="4" height="8"/><rect fill="%2368A336" x="4" y="48" width="4" height="12"/><rect fill="%2389C658" x="8" y="56" width="4" height="8"/><rect fill="%2368A336" x="12" y="52" width="4" height="8"/><rect fill="%2368A336" x="16" y="48" width="4" height="12"/><rect fill="%2389C658" x="20" y="56" width="4" height="8"/><rect fill="%2368A336" x="28" y="48" width="4" height="12"/><rect fill="%2389C658" x="32" y="56" width="4" height="8"/><rect fill="%2389C658" x="36" y="52" width="4" height="8"/><rect fill="%2368A336" x="40" y="48" width="4" height="12"/><rect fill="%2389C658" x="48" y="56" width="4" height="8"/><rect fill="%2368A336" x="52" y="52" width="4" height="8"/><rect fill="%2389C658" x="56" y="48" width="4" height="12"/><rect fill="%2368A336" x="64" y="48" width="4" height="12"/><rect fill="%2389C658" x="68" y="56" width="4" height="8"/><rect fill="%2368A336" x="72" y="52" width="4" height="8"/><rect fill="%2389C658" x="76" y="56" width="4" height="8"/><rect fill="%23FFFFFF" x="124" y="40" width="4" height="4"/><rect fill="%23FFFFFF" x="128" y="36" width="4" height="4"/><rect fill="%23FFFFFF" x="132" y="40" width="4" height="4"/><rect fill="%23FFFFFF" x="128" y="44" width="4" height="4"/><rect fill="%23FFE863" x="128" y="40" width="4" height="4"/><rect fill="%23E89BB5" x="152" y="56" width="4" height="4"/><rect fill="%23E89BB5" x="148" y="60" width="4" height="4"/><rect fill="%23E89BB5" x="156" y="60" width="4" height="4"/><rect fill="%23E89BB5" x="152" y="64" width="4" height="4"/><rect fill="%23FFE863" x="8" y="52" width="4" height="4"/><rect fill="%23FFE863" x="4" y="56" width="4" height="4"/><rect fill="%23FFE863" x="12" y="56" width="4" height="4"/><rect fill="%23FFE863" x="8" y="60" width="4" height="4"/><rect fill="%2368A336" x="80" y="0" width="4" height="8"/><rect fill="%2368A336" x="84" y="4" width="4" height="8"/><rect fill="%2368A336" x="88" y="0" width="4" height="12"/><rect fill="%2368A336" x="92" y="4" width="4" height="8"/><rect fill="%2389C658" x="96" y="8" width="4" height="8"/><rect fill="%2389C658" x="100" y="4" width="4" height="12"/><rect fill="%2389C658" x="104" y="8" width="4" height="8"/><rect fill="%2368A336" x="108" y="0" width="4" height="12"/><rect fill="%2368A336" x="112" y="4" width="4" height="8"/><rect fill="%2389C658" x="116" y="8" width="4" height="8"/><rect fill="%2389C658" x="120" y="4" width="4" height="12"/><rect fill="%2368A336" x="124" y="0" width="4" height="8"/><rect fill="%2389C658" x="128" y="8" width="4" height="8"/><rect fill="%2368A336" x="132" y="4" width="4" height="12"/><rect fill="%2368A336" x="136" y="0" width="4" height="8"/><rect fill="%2389C658" x="140" y="8" width="4" height="8"/><rect fill="%2389C658" x="144" y="4" width="4" height="12"/><rect fill="%2368A336" x="148" y="0" width="4" height="12"/><rect fill="%2389C658" x="152" y="8" width="4" height="8"/><rect fill="%2368A336" x="156" y="4" width="4" height="8"/><rect fill="%2389C658" x="80" y="20" width="4" height="8"/><rect fill="%2368A336" x="84" y="16" width="4" height="12"/><rect fill="%2389C658" x="88" y="24" width="4" height="8"/><rect fill="%2368A336" x="92" y="20" width="4" height="8"/><rect fill="%2368A336" x="96" y="16" width="4" height="12"/><rect fill="%2389C658" x="100" y="24" width="4" height="8"/><rect fill="%2368A336" x="108" y="16" width="4" height="12"/><rect fill="%2389C658" x="112" y="24" width="4" height="8"/><rect fill="%2389C658" x="116" y="20" width="4" height="8"/><rect fill="%2368A336" x="120" y="16" width="4" height="12"/><rect fill="%2389C658" x="128" y="24" width="4" height="8"/><rect fill="%2368A336" x="132" y="20" width="4" height="8"/><rect fill="%2389C658" x="136" y="16" width="4" height="12"/><rect fill="%2368A336" x="144" y="16" width="4" height="12"/><rect fill="%2389C658" x="148" y="24" width="4" height="8"/><rect fill="%2368A336" x="152" y="20" width="4" height="8"/><rect fill="%2389C658" x="156" y="24" width="4" height="8"/><rect fill="%23E89BB5" x="92" y="8" width="4" height="4"/><rect fill="%23E89BB5" x="88" y="12" width="4" height="4"/><rect fill="%23E89BB5" x="96" y="12" width="4" height="4"/><rect fill="%23E89BB5" x="92" y="16" width="4" height="4"/><rect fill="%23FFFFFF" x="148" y="8" width="4" height="4"/><rect fill="%23FFFFFF" x="152" y="4" width="4" height="4"/><rect fill="%23FFFFFF" x="156" y="8" width="4" height="4"/><rect fill="%23FFFFFF" x="152" y="12" width="4" height="4"/><rect fill="%23FFE863" x="152" y="8" width="4" height="4"/><rect fill="%2368A336" x="80" y="40" width="4" height="8"/><rect fill="%2368A336" x="84" y="36" width="4" height="8"/><rect fill="%2368A336" x="88" y="32" width="4" height="12"/><rect fill="%2368A336" x="92" y="36" width="4" height="8"/><rect fill="%2389C658" x="96" y="40" width="4" height="8"/><rect fill="%2389C658" x="100" y="36" width="4" height="12"/><rect fill="%2389C658" x="104" y="40" width="4" height="8"/><rect fill="%2368A336" x="108" y="32" width="4" height="12"/><rect fill="%2368A336" x="112" y="36" width="4" height="8"/><rect fill="%2389C658" x="116" y="40" width="4" height="8"/><rect fill="%2389C658" x="120" y="36" width="4" height="12"/><rect fill="%2368A336" x="124" y="32" width="4" height="8"/><rect fill="%2389C658" x="128" y="40" width="4" height="8"/><rect fill="%2368A336" x="132" y="36" width="4" height="12"/><rect fill="%2368A336" x="136" y="32" width="4" height="8"/><rect fill="%2389C658" x="140" y="40" width="4" height="8"/><rect fill="%2389C658" x="144" y="36" width="4" height="12"/><rect fill="%2368A336" x="148" y="32" width="4" height="12"/><rect fill="%2389C658" x="152" y="40" width="4" height="8"/><rect fill="%2368A336" x="156" y="36" width="4" height="8"/><rect fill="%2389C658" x="80" y="52" width="4" height="8"/><rect fill="%2368A336" x="84" y="48" width="4" height="12"/><rect fill="%2389C658" x="88" y="56" width="4" height="8"/><rect fill="%2368A336" x="92" y="52" width="4" height="8"/><rect fill="%2368A336" x="96" y="48" width="4" height="12"/><rect fill="%2389C658" x="100" y="56" width="4" height="8"/><rect fill="%2368A336" x="108" y="48" width="4" height="12"/><rect fill="%2389C658" x="112" y="56" width="4" height="8"/><rect fill="%2389C658" x="116" y="52" width="4" height="8"/><rect fill="%2368A336" x="120" y="48" width="4" height="12"/><rect fill="%2389C658" x="128" y="56" width="4" height="8"/><rect fill="%2368A336" x="132" y="52" width="4" height="8"/><rect fill="%2389C658" x="136" y="48" width="4" height="12"/><rect fill="%2368A336" x="144" y="48" width="4" height="12"/><rect fill="%2389C658" x="148" y="56" width="4" height="8"/><rect fill="%2368A336" x="152" y="52" width="4" height="8"/><rect fill="%2389C658" x="156" y="56" width="4" height="8"/><rect fill="%23FFE863" x="88" y="52" width="4" height="4"/><rect fill="%23FFE863" x="84" y="56" width="4" height="4"/><rect fill="%23FFE863" x="92" y="56" width="4" height="4"/><rect fill="%23FFE863" x="88" y="60" width="4" height="4"/><rect fill="%23FFFFFF" x="136" y="52" width="4" height="4"/><rect fill="%23FFFFFF" x="140" y="48" width="4" height="4"/><rect fill="%23FFFFFF" x="144" y="52" width="4" height="4"/><rect fill="%23FFFFFF" x="140" y="56" width="4" height="4"/><rect fill="%23FFE863" x="140" y="52" width="4" height="4"/></g></svg>');
    background-size: 160px 80px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* ============= LAYOUT ============= */
.container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ============= TEXT BOXES ============= */
.text-box {
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid #FFF4C4;
    padding: 25px 35px;
    box-shadow: 
        0 0 0 2px #fff,
        0 0 0 6px #FFF4C4,
        8px 8px 0 0 rgba(0, 0, 0, 0.25);
    image-rendering: pixelated;
    backdrop-filter: blur(1px);
}

.text-box.almost-transparent {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0.5px);
    border: 4px solid #FFF4C4;
    box-shadow: 
        0 0 0 2px #fff,
        0 0 0 6px #FFF4C4,
        8px 8px 0 0 rgba(0, 0, 0, 0.25);
}

.text-box:nth-child(odd),
.text-box:nth-child(even) {
    border-color: #FFF4C4;
    box-shadow: 
        0 0 0 2px #fff,
        0 0 0 6px #FFF4C4,
        8px 8px 0 0 rgba(0, 0, 0, 0.25);
}

/* ============= TYPOGRAPHY ============= */
h1 {
    font-size: 2.2em;
    margin-bottom: 15px;
    text-shadow: 
        2px 2px 0 rgba(255, 255, 255, 0.8),
        3px 3px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 12px;
    font-weight: bold;
    color: #333;
    text-shadow: 
        1px 1px 0 rgba(255, 255, 255, 0.8);
}

p {
    line-height: 1.7;
    margin-bottom: 12px;
    color: #222;
    font-size: 1.1em;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}

.almost-transparent h1,
.almost-transparent h2 {
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff,
        2px 2px 0 rgba(0, 0, 0, 0.3);
}

.almost-transparent p {
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

/* ============= TITLE VARIANTS ============= */
.title-retro {
    font-family: 'Courier New', monospace;
    color: #ffd901;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 
        3px 3px 0 #333,
        4px 4px 0 rgba(0, 0, 0, 0.3);
}

.title-outline {
    color: #fff;
    text-shadow: 
        -2px -2px 0 #333,
        2px -2px 0 #333,
        -2px 2px 0 #333,
        2px 2px 0 #333,
        4px 4px 0 rgba(0, 0, 0, 0.3);
}

.title-shadow {
    color: #333;
    text-shadow: 
        2px 2px 0 #FFE863,
        4px 4px 0 rgba(0, 0, 0, 0.2);
}

.title-3d {
    color: #000000;
    text-shadow: 
        1px 1px 0 #eeff02,
        2px 2px 0 #ccd81d,
        3px 3px 0 #6b7208,
        4px 4px 0 #616804,
        5px 5px 0 rgba(0, 0, 0, 0.3);
}

.title-glitch {
    color: #fff;
    position: relative;
    text-shadow: 
        2px 2px 0 #ff0080,
        -2px -2px 0 #00ffff;
}

/* ============= BUTTONS ============= */
.pixel-button {
    background: #FFFADB;
    border: 3px solid #FFF4C4;
    padding: 12px 24px;
    font-family: 'Courier New', monospace;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px 0 0 rgba(255, 244, 196, 0.5);
    transition: all 0.1s;
    margin-top: 10px;
    image-rendering: pixelated;
    color: #333;
}

.pixel-button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 0 rgba(255, 244, 196, 0.5);
    background: #FFF;
}

.pixel-button:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

/* ============= IMAGES ============= */
.pixel-image-container {
    margin: 20px 0;
    text-align: center;
}

.pixel-image {
    max-width: 100%;
    height: auto;
    border: 4px solid #FFF4C4;
    box-shadow: 
        0 0 0 2px #fff,
        0 0 0 6px #FFF4C4,
        8px 8px 0 0 rgba(0, 0, 0, 0.3);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.pixel-image.small {
    max-width: 200px;
}

.pixel-image.medium {
    max-width: 400px;
}

.pixel-image.large {
    max-width: 600px;
}

/* ============= PLACEHOLDERS ============= */
.pixel-placeholder {
    background: 
        repeating-conic-gradient(#ddd 0% 25%, #fff 0% 50%) 
        50% / 20px 20px;
    border: 4px solid #FFF4C4;
    padding: 40px;
    box-shadow: 
        0 0 0 2px #fff,
        0 0 0 6px #FFF4C4,
        8px 8px 0 0 rgba(0, 0, 0, 0.3);
    image-rendering: pixelated;
    display: inline-block;
    font-weight: bold;
    color: #666;
    text-shadow: 1px 1px 0 #fff;
}

.pixel-placeholder.small {
    width: 200px;
    height: 150px;
    padding: 20px;
}

.pixel-placeholder.medium {
    width: 400px;
    height: 300px;
}

.pixel-placeholder.large {
    width: 600px;
    height: 400px;
}

/* ============= GRID ============= */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.image-grid-item {
    text-align: center;
}

/* ============= MEDIA QUERIES ============= */
@media (max-width: 768px) {
    body {
        background-size: 120px 60px;
    }
    
    .text-box {
        padding: 20px;
    }
    
    h1 {
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.4em;
    }
    
    p {
        font-size: 1em;
    }
}
